body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}


/* HEADER */
header {
  background-color: royalblue;
}
header .inner {
  width: 1100px;
  margin: 0 auto; /* header안의 inner 사용해서 margin : 0 auto 방식 많이 쓰임 */
  background-color: orange;
}
header .logo {

} 